@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
body {
  margin: 0;
  font-family: 'Bungee Inline', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: skyblue;
  overflow: hidden;

}

nav {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #FFC500;
  border-radius: 10px;
  height:60px;
  
}
nav, ul {
  display: flex;
  /*   padding:1em; */
  margin: 0px;
  align-items: center;
}
nav, .link {
  z-index: 1;
  list-style-type: none;
  margin: 0.8em;
  /*   margin-left:1em; */
  display: flex;
  gap: 10em;
  color:#000083;
  justify-content: space-around;
  text-decoration: none;
  transition:2s;
  font-size:2;
}
.link:hover{
  transform: scale(1.2);
  text-decoration: underline;
}
img{
  height: 180px; 
}
/*/////////////////////////////////////////////////*/

.grass{
  position: absolute;
  top: 465px;
  right:50px;
  transform:scale(8,4);
  width: 100%;
  z-index: -2;
}


.gamefest{
  height:280px;
  margin-top: 50px;
  position: relative;
  z-index: 1;
  animation: float 6s ease-in-out infinite;
}
/*
.star,.diamond,.sword,.thunder1,.thunder2,.thunder3,.thunder4{
  position:absolute;
  z-index: 1;
}
.star{
  left:250px;
  top:100px;
  transform: scale(3,3);
}
.sword{
  left:850px;
  top:300px;
  transform: scale(3,3);
}
.diamond{
  left:100px;
}
.thunder1{
  transform:scale(4,3);
}
.thunder2{
  transform:scale(4,3) rotate(180deg);
  right:750px;
  top:270px;
}
.thunder3{
  transform:scale(3,2) rotate(50deg);
  right:750px;
}
.thunder4{
  transform:scale(3,2) rotate(220deg);
  top:270px;
  right:300px;
}*/
.gdglogo{
  transform:scale(1.5,1.5);
  margin-top: 25px;
  position: relative;
  right:50px;
}


/*// ELEMENTS TO ANIMATE //*/
.mario{
  height: 80px;
  position: absolute;
  bottom:25px;
  animation-name: move;
  animation-delay: 0s ;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
  animation-timing-function: cubic-bezier(.27,.63,.81,.05);
}

.luigi{
  height: 80px;
  position: absolute;
  bottom:25px;
  animation-name: move;
  animation-duration: 8s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}

.cloud{
  transform: scale(0.6,0.6);
  position: absolute;
  top:50px;
  opacity: 0.7;
  animation: wind 20s linear reverse infinite;
}
.cloud2{
  transform: scale(0.4,0.4);
  position: absolute;
  opacity: 0.5;
  animation: wind 15s linear reverse infinite;
  position: absolute;
  top:250px;
}

.tails{
  animation-name: fly;
  animation-duration: 8s;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}

.sonic{
  position:absolute;
  bottom:25px;
  height:70px;
  animation-name: move;
  animation-duration: 7s;
  animation-delay: 3s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}
.chasing{
  animation-name: fly;
  animation-duration: 13s;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
  animation-direction: reverse;
}
.amongus2{
  position:absolute;
  bottom:-7px;
  height:150px;
  animation-name: move;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}
.amongusrb{
  position:absolute;
  bottom:-50px;
  height:200px;
  animation-name: move;
  animation-duration: 10s;
  animation-delay: 5.2s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}
.metalslugarab{
  height: 110px;
  position: absolute;
  bottom:20px;
  animation-name: move;
  animation-duration: 11s;
  animation-delay: 7s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}
.marco{
  height:100px;
  position: absolute;
  bottom:15px;
  animation-name: move;
  animation-duration: 11s;
  animation-delay: 7.4s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}
.helic{
  height:100px;
  position: absolute;
  bottom:150px;
  animation-name: move;
  animation-duration: 11s;
  animation-delay: 7.8s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}


.enemy{
  height:100px;
  position: absolute;
  bottom:100px;
  animation-name: move;
  animation-duration: 11s;
  animation-delay: 9s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}

.zelda{
  height:80px;
  position: absolute;
  bottom:15px;
  animation-name: move;
  animation-duration: 11s;
  animation-delay: 10s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}
.megaman{
  height:80px;
  position: absolute;
  bottom:15px;
  animation-name: move;
  animation-duration: 11s;
  animation-delay: 11s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}
.streetfighter1{
  height:90px;
  position: absolute;
  bottom:15px;
  animation-name: move;
  animation-duration: 11s;
  animation-delay: 12s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}
.streetfighter2{
  height:90px;
  position: absolute;
  bottom:15px;
  animation-name: move;
  animation-duration: 11s;
  animation-delay: 12.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}
.streetfighter3{
  height:90px;
  position: absolute;
  bottom:15px;
  animation-name: move;
  animation-duration: 11s;
  animation-delay: 13s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}
.yoshi{
  height:80px;
  position: absolute;
  bottom:15px;
  animation-name: move;
  animation-duration: 11s;
  animation-delay: 14s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}

.luigimario{
  height:80px;
  position: absolute;
  bottom:15px;
  animation-name: move;
  animation-duration: 11s;
  animation-delay: 15s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}
.sasuke{  
  height:80px;
  position: absolute;
  bottom:15px;
  animation-name: move;
  animation-duration: 11s;
  animation-delay: 16s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;}
.itachi{  height:80px;
  position: absolute;
  bottom:15px;
  animation-name: move;
  animation-duration: 11s;
  animation-delay: 16.3s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;
}
.naruto{  height:200px;
  position: absolute;
  bottom:-25px;
  animation-name: move;
  animation-duration: 11s;
  animation-delay: 16.7s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;}
.luffy{ 
  height:80px;
  position: absolute;
  bottom:15px;
  animation-name: move;
  animation-duration: 16s;
  animation-delay: 17s;
  animation-fill-mode: both;
  animation-iteration-count: 1 ;}
/*// KEYFRAMES //*/

@keyframes move{
  from{
      transform: translateX(-1000px);
  }
  to{
      transform: translateX(1500px);
  }
}

@keyframes wind{
  from{
      left:-50px;
  }
  to{
      left:120%;
  }
}

@keyframes fly{
  from{
      left:-130%;
  }
  to{
      left:130%;
  }
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes rotate {
	0% {
    bottom: 100px;
		transform: rotate(-50deg);
    transform-origin: 49% 49%;
	}
	50% {
		transform: rotate(20deg);
    bottom: 120px;
    transform-origin: 49% 49%;
	}
	100% {
		transform: rotate(-50deg);
    bottom: 100px;
    transform-origin: 49% 49%;
	}
}
.button {
  width: 170px;
  height: 80px;
  border-radius: 50px;
  background: #FFC500;
  cursor: pointer; 
  margin:-3em auto;
  position: relative;
  z-index: 1;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(45, 42, 42, 0.66);
}
.button p{
  position: relative;
  top:0.7em;
  color: #000083;
}
.detailsBloc{
  height: 450px;
  width:600px;
  background-color: #FFC500;
  opacity: 0.8;
  margin: -20px 80px;
  border-radius:30px ;
  font-family:'Bungee Inline', cursive ;
}
.gamefestdetails{
  animation: float 3s infinite both;
}
.diamond{
  animation: float 2s infinite both;
}
.star{
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.gdglogopxl{
  animation: float 3s infinite both;
}
.octocat{
  animation :move 20s infinite both;
  height:100px;
  position:absolute;
  bottom:25px;
}


    